<style>
		.section {
			padding: 25px 0;
		
		}

		.box {
			border: 2px solid #000;
			margin: 100px auto;
			padding: 50px 25px;
			background: gray;
			color: white;
			width: 100px;
			text-align: center;
		}

		
		#property:hover {
			background: yellow;
			border: 2px solid #0c4ffb;
			transition-duration: 3s;
			transition-property: background;
			transition: transform, opacity;
	transition-duration:3s;
	transition-timing-function: ease-in-out;
	transform: rotateY(360deg);
		}
		#delay:hover {
			background: blue;
			border: 2px solid #0c4ffb;
			transition: transform, opacity;
	transition-duration:3s;
	transition-timing-function: ease-in-out;
		}
				
		#transition3:hover {
			border: 0;
			color: white;
			background-color: red;
			opacity: 1;
			transform-origin: center;
			border-radius: 50%;
			transform: rotate(360deg);
			transition-delay: 2s, 0s, 3s, 1s, 500ms, 5s;
			transition-duration: 3s;
			transition-property: border, color, background, opacity, border-radius, transform;
			transition-timing-function: ease, linear, ease-in-out;
		}

	</style>